:root {
    --surface-primary: white;
    --surface-secondary: #EEE;
    --focus-primary: rgb(173, 229, 255);
    --focus-secondary: rgba(173, 229, 255, 0.25);
}
body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100dvh;
}
* {
    /* outline: 1px solid red; */
}

/* Toolbar */
div.toolbar {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}
span.type-direction {
    cursor: pointer;
    border-radius: 5px;
    padding: 2px;
}
span.type-direction.active {
    background-color: var(--focus-primary);
}

/* Crossword */
#crossword-canvas {
    width: 90vw;
    aspect-ratio: 1 / 1;
    margin: 10px auto 10px auto;
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 3px solid black;
    position: relative;
}
.box {
    background-color: var(--surface-primary);
    border: 0.5px solid gray;
    aspect-ratio: 1 / 1;
    font-size: clamp(0px, 10vw, 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.box.filled {
    background-color: black;
    color: var(--surface-primary);
}
.box.filled:hover {
    background-color: black;
    color: var(--surface-primary);
}
.box:hover {
    background-color: var(--focus-secondary);
}
.box.focus {
    background-color: var(--focus-primary);
}

.box .hint-number {
    position: absolute;
    font-size: 0.4em;
    top: 0;
    left: 0;
    padding: 0.25em;
}

.box .box-content {
    position: relative;
    top: 0.2em;
}

/* Hint Bar */
#lower-half {
    justify-self: flex-end;
}

#hint-bar {
    background-color: var(--focus-primary);
    display: flex;
    align-items: center;
}

#hint-bar p {
    padding: 0px 20px;
}

/* Keyboard */
#keyboard {
    background-color: var(--surface-secondary);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 40px;
}

.key {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: var(--surface-primary);
    width: 20px;
    flex-grow: 1;
    border-radius: 5px;
    height: 2em;
    margin: 0 3px;
    filter: drop-shadow(0 3px 0 rgba(0, 0, 0, 0.2));
    cursor: pointer;
    user-select: none;
}

.key.pressing {
    padding-bottom: 2em;
}

.key#bksp-key {
    font-size: 10px;
    align-self: flex-end;
    height: 4em;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 95%;
    position: relative;
    max-width: 500px;
}